# .env.example
# Google Gemini API Key
GEMINI_API_KEY=
VITE_GEMINI_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_DRIVE_API_KEY=
TELEGRAM_BOT_TOKEN=
VITE_GOOGLE_CLIENT_ID=252745316853-83o7vledsmjdjempniu7osmhi17qcl06.apps.googleusercontent.com

# Firebase Admin SDK (dla powiadomień Push i Globalnego Wołania)
FIREBASE_PROJECT_ID=aplikacja-christian-culture
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@aplikacja-christian-culture.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
# Alternatywnie, jeśli używasz klucza API bezpośrednio (choć SDK preferuje plik JSON)
# GOOGLE_CLOUD_API_KEY=
